.Navbar {
  display: flex;
  flex-direction: row;
  top: 5rem;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
}

.Nav-header {
  display: flex;
  width: 100vw;
  background-color: #fff;
}

.Nav-header ul {
  display: flex;
  gap: 0.968rem;
  margin: 2rem;
  color: #121212;
  font-size: 0.8rem;
  text-transform: uppercase;
  align-items: center;
  list-style-type: none;
}

.Nav-logo {
  margin: 2rem;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}

.List-container {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  margin: 3rem;
  padding: 1rem 2rem;
  align-items: center;
  background-color: white;
  border: 1px solid #d8d8d8;
  border-radius: 0.3rem;
}

.progressBar {
  display: flex;
}

.percentage {
  margin-left: 5px;
}

.progressBtn {
  background-color: #3487e7;
  color: white;
  height: 2.2rem;
  border: none;
  border-radius: 4px;
  padding: 0 2rem;
}

.add-new {
  margin: 3rem;
  padding: 1rem 2rem;
}
